// @import "~bootstrap/scss/bootstrap";

// colours
$primary: #f0f4f2;
// maybe darker E1E9E4
$primary-accent: #014623; // forest green

$secondary: #e2d9df;
$secondary-accent: #460124;

$white: #fff;
$grey-100: #f5f5f5;
$grey-300: #e0e0e0;
$grey-600: #757575;
$black: #373f41; // dark blue grey
// $black: #38423d; // green grey??

$complementary: #460124;
$complementary-light: #f2dee4;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.test-div {
  height: 100px;
}

.navbar {
  height: 5.5rem;
  background-color: $primary;
}

.btn-clear {
  background-color: transparent;
  border-color: transparent;
}

.primary {
  color: $primary-accent;
}

// TODO check these and delete

img {
  width: 100%;
}

.navbar {
  background-color: #e3f2fd;
}
.fa.fa-edit {
  color: #18a2b9;
}

.list-group-item.delete:hover {
  cursor: -webkit-grab;
  background-color: pink;
}

.list-group-item.update:hover {
  cursor: -webkit-grab;
  background-color: gainsboro;
}

.list-group-item.board:hover {
  cursor: -webkit-grab;
  background-color: gainsboro;
}

.fa.fa-minus-circle {
  color: red;
}

.landing {
  position: relative;
  /* background: url("../img/showcase.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

// TODO delete to here
