version: 2.1

jobs:
  build:  
    docker:
      - image: cimg/openjdk:11.0
    steps:
      - checkout
      
      - run:
          name: test-login
          command: |
            cd BackEnd/loginmicroservices/
            mvn clean
            mvn test
      - run:
          name: build-login
          command: |
            cd BackEnd/loginmicroservices/
            mvn package
      
      - store_artifacts:
          path: BackEnd/loginmicroservices/target/loginmicroservices-0.0.1.jar

        


workflows:
  build-and-test: 
    jobs:
      - build

    