version: 2.1

jobs:
  build-backend:  
    docker:
      - image: cimg/openjdk:11.0
    steps:
      - checkout

      - add_ssh_keys:
          fingerprints:
            - "c9:2c:4e:b5:b4:8c:a2:5c:8e:49:a0:b8:06:1c:1a:c3"
      
      - run:
          name: clean-and-test-login
          command: |
            cd BackEnd/loginmicroservices/
            mvn clean
            mvn test
      - run:
         name: build-login
          command: |
           cd BackEnd/loginmicroservices/
            mvn package
      
      - store_artifacts:
          path: BackEnd/loginmicroservices/target/loginmicroservices-0.0.1.jar

      - run:
          name: deploy-login
          command: |
            scp BackEnd/loginmicroservices/target/loginmicroservices-0.0.1.jar $BOOK_AWS:~/login/target/loginmicroservices-0.0.1.jar
            scp BackEnd/loginmicroservices/Dockerfile $BOOK_AWS:~/login/Dockerfile
            ssh $BOOK_AWS '(cd login/ && ls)'



  #build-frontend:
  #  docker:
  #    - image: cimg/node:16.8.0
  #  steps:
  #    - checkout
  #    - run:
  #        name: test
  #        command: |
  #          cd frontend/bookeroo/
  #          npm install
  #          CI=false npm run build


        


workflows:
  build-and-test: 
    jobs:
      - build-backend
    #  - build-frontend

    