version: 2.1
orbs:
  aws-code-deploy: circleci/aws-code-deploy@2.0.0
jobs:
  build-and-test:  
    docker:
      - image: cimg/openjdk:11.0
    steps:
      - checkout
      - run:
          name: build-login
          command: |
            cd BackEnd/loginmicroservices/
            mvn clean
            mvn package
      - run:
          name: test-login
          command: |
            cd BackEnd/loginmicroservices/
            mvn test



workflows:
  build-and-test: 
    jobs:
      - build-and-test
  deploy:
    jobs:
      - aws-code-deploy/deploy:
          application-name: bookeroo
          deployment-group: bookeroo-deployment
          service-role-arn: arn:aws:iam::092372320935:role/CodeDeploySerivceRole
          
    