version: 2.1
orbs:
  aws-cli: circleci/aws-cli@2.0
jobs:
  build-and-test:  
    docker:
      - image: cimg/openjdk:11.0
    steps:
      - checkout
      - run:
          name: build-login
          command: |
            cd BackEnd/loginmicroservices/
            mvn clean
            mvn package
      - run:
          name: test-login
          command: |
            cd BackEnd/loginmicroservices/
            mvn test
  deploy:
    executor: aws-cli/default
    steps:
      - checkout
      - aws-cli/setup
      - run:
          name: deploy
          command: |
            aws deploy create-deployment \
              --application-name bookeroo \
              --deployment-config-name CodeDeployDefault.OneAtATime \
              --deployment-group-name bookeroo-deployment \
              --description "${CIRCLE_TAG}" \
              --github-location repository="justinnais/eucalyptus-sept",commitId=$CIRCLE_SHA1 \
              --ignore-application-stop-failure

        


workflows:
  build-and-test: 
    jobs:
      - build-and-test
      - deploy

    